body {
  background-color: pink;

  #cookieClick img {
    display: block;
    width: 300px;
    height: 300px;
  }

  #autoClicker img{
    width: 30px;
    height: 30px;
  }

  #farm img {
    width: 30px;
    height: 30px;
  }
}