@import 'partials/producers';
@import 'partials/cookie';
@import 'partials/center';

body {
  background-color: #fff;
  box-sizing: border-box;
  font-family: 'Roboto Slab', serif;

  div.game{
    width: 100vw;
    height:100vh;
  }
}
