


.bigCookie{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  #cookieClick {
    img{
      width: 450px;
      height: 450px;
    }
    &:active{
      transform: scale(.95);
    }
  }
}
